
@{
    ViewData["Title"] =   "Page not Found";
}
<h1 style="align-content:center; font-size:x-large">@ViewBag.ErrorMessage</h1>
<a asp-action="index" asp-controller="home">
    Click here to navigate to Home page 
</a>
